

section 
{
    width: 350px;
    padding: 25px;
    border-radius: 40px;
    box-shadow: 0 0 10px black;
    margin: 10px;
}

main 
{
    column-count: 3;
    display: flex;
}

section h2
{
    text-align: center;
}

section p
{
    text-align: center;
}