@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap');


body
{
    background-color: rgb(90, 11, 11);
}

section 
{
    width: 350px;
    padding: 25px;
    border-radius: 40px;
    box-shadow: 0 0 10px black;
    margin: 10px;
    font-family: "Metal Mania";
    background-color: rgb(202, 119, 24);
}

header
{
    text-align: center;
    font-family: "Metal Mania";
    color: rgb(255, 221, 183);
    font-size: 150%;
}

header img
{
    width: 100%;
    max-width: 500px;
    border-radius: 20px;
    box-shadow: 0 0 50px gold;
}

main 
{
    column-count: 3;
    display: flex;
}

section h2
{
    text-align: center;
    color: rgb(124, 42, 9);
}

section p
{
    text-align: center;
    color: rgb(92, 51, 4);
}